body{
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

p-0{
	padding: 0;
}
/*Навигация*/
.active{
	pointer-events: none;
	cursor: default;
	
}
#main-menu li, .google-font{
	font-family: 'Cormorant Infant', serif;
}
.main-blue-bg{
	background-color: rgba(0, 147, 223, 1);
}

/*Языки*/
div#lang select{
	background-color: #007bff;
	color: white;
	border: 1px solid #ffc107;
	border-radius: 3px;
}
.navbar-dark .navbar-nav a.nav-link{
	font-size: 30px;
}
div.dropdown-menu a.blue-bg:hover{
	color: #fff;
	background-color: #007bff;
}
a.dropdown-toggle::after{
	margin-left: -2.25em;
	vertical-align: -0.7em;
	margin-right: 3rem;
}

div.dropdown-menu{
	margin: 0.125rem -38px 0;
}
header nav div ul li.dropdown-header{
	padding: 0;
}
/*Header wrap*/
.banner {
	background: url(../img/carousel-2.jpg) no-repeat center top;
	margin-top: 0;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#opasity-block {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: -20px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
a#header-adress:hover{
	text-decoration: none;

}
.bg-y{
	background-color: #ffff00;
}
.border-b{
	border-bottom: 1px solid #ffc107;
}
#main-menu.fixed {
    width:100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #ffc107;
    background-color: rgba(0, 147, 223, .8);

 }
/*#main-menu.fixed ~ .wrap {
  margin-top:80px;
}*/
/*footer*/
.full {
	width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #ffff00;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #000;
	color: #000;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #000;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	
}
/*.social li a i {
	font-size: 16px;
	margin: 0 0 0 3px;
	color: #ffff00;
	}*/
	.social li a i.fa-facebook {
		font-size: 16px;
		margin: -18px 0 0px 9px;
		color: #ffff00;

	}
	.social li a i.fa-skype {
		font-size: 18px;
		margin: 0px -5px 0 3px;
		color: #ffff00;
	}
	.social li a i.fa-google-plus {
		font-size: 16px;
		margin: 9px 2px 0 2px;
		color: #ffff00;
	}
	.social li a i.fa-youtube{
		font-size: 22px;
		margin: 6px -8px 0 2px;
		color: #ffff00;
		
	}

	.footer-bottom {
		background: #E3E3E3;
		border-top: 1px solid #DDDDDD;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.footer-bottom p.pull-left {
		padding-top: 6px;
	}
	.payments {
		font-size: 1.5em;	
	}
	/*main*/
	div.icon-item{
		width: 40px;
		height: 40px;
	}
	/*accounting page*/
	div.text-center i.fa-calculator:before {
		content: "\f1ec";
		font-size: 40px;
	}
	div.text-center i.fa-usd:before {
		content: "\f155";
		font-size: 40px;
	}
	div.text-center i.fa-diamond:before {
		content: "\f219";
		font-size: 40px;
	}
	/* arrow*/
	.text-block {
		width: 250px;
		margin: 50px;
	}

	#go-top {
		background-color: rgba(0, 147, 223, 0.7);
		position: fixed; 
		bottom: 2rem; 
		right: 3.5rem;
		text-align: center;
		cursor:pointer; 
		display:none;
		border: 1px solid #ffc107;
		border-radius: 5px;
		color: rgba(255, 193, 7, 1);
		text-align: center;
	}
	a#go-top{
		width: 6rem;
		min-height: 4rem;
	}

	#go-top:hover {
		/* background: #333;*/
		color: rgba(170, 129, 5, 1);
		border-bottom: 2px solid #ffc107;
		border-right: 2px solid #ffc107;
	}
	.fa-arrow-circle-up:before {
		content: "\f0aa";
		font-size: 60px;

	}
/*#navMenu{
	position: fixed;
	top: 30%;
	left: 0%;

	}*/
	/*Map!!!!!*/
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
	min-height: 300px;
}
#faceB{
	background-color: #29487d;
	border-color: #29487d;
}
#skype{
	background-color: #1686D9;
	border-color: #1686D9;
}
#google{
	background-color: #df4b38;
	border-color: #df4b38;
}
#yotube
{
	background-color: hsl(0, 100%, 50%);
	border-color: hsl(0, 100%, 50%);
}
/*Contact form CSS fix*/
div.wpcf7 .screen-reader-response {
	position: static;
	overflow: auto;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1%;
	width: 100%;
	margin: 0;
	padding: 3.5%;
	border: 0;
}
div.wpcf7 .screen-reader-response ul li{
	color: #f00;
}
/*Widgets*/
.widget ul li{
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 1.3rem;
}
/*testimonial form*/
.wpmtst-submit label input#wpmtst_submit_testimonial{
	color: #ffff00;
	background-color: transparent;
	background-image: none;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid #ffff00;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wpmtst-submit label input#wpmtst_submit_testimonial:hover{
	color: #49a1ff;
	background-color: #ffff00;
	border-color: #ffff00;
}
h3#reply-title{
	color: #17a2b8;
}
/*Хлебные крошки для блога*/

ol.breadcrumb a:hover {
	color: #ffffff;
}
span.current{
	color: #d5cbcb;
}
/*Categories widget*/
span.num-s{
	background-color: #007bff;
	padding: 0px 9px 1px 9px;
}
/*Комментарии*/
.comment-list,
.children{
	list-style-type: none;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 5px;

}
/*admin-bar*/

.fixed{
	position:fixed;
	width: 100%;
	z-index: 100;
	top: 0;
}